.App {
  display: flex;
  flex-direction: column;   /* vertically stack elements */
  justify-content: center;  /* vertical centering */
  align-items: center;      /* horizontal centering */
  min-height: 100vh;        /* full viewport height */
  text-align: center;
 
}

.app-content {
  text-align: center;
}

.calculator {
  display: inline-block;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  background-color: #222;
  color: #fff;
}

.display {
  background-color: black;
  color: bisque;
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  min-width: 200px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-gap: 10px;
}

.calc-btn {
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: #fff;
  transition: all 0.2s;
}

.calc-btn:hover {
  background-color: peachpuff;
}
